.nav-main {
  display: flex;
  position: fixed;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  text-align: center;
  padding: 12px 12px 8px 12px;
  font-size: px;
  letter-spacing: 0.7px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 19px;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  top: 0;
  border-bottom: 1px solid #dcdcdc;
  width: 100%;
  z-index: 1;
  height: 50px;
}
strong {
  color: black;
}
.left_menu > img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left_menu {
  font-size: 15px;
  font-weight: bolder;
  font-family: Helvetica, Arial, sans-serif;
}
.right_menu > nav {
  float: right;
  display: inherit;
}
nav img {
  height: 40px;
  width: 200px;
  vertical-align: middle;
  text-align: center;
}
.more-articles {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content-one {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button,
nav button {
  background-color: steelblue;
  min-height: 30px;
  color: white;
  align-items: center;
  padding: 11px 12px 8px 12px;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  font-weight: 700;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: #326891;
}
a:hover {
  text-decoration: underline;
}
.social {
  display: flex;
  flex-flow: row nowrap;
  float: right;
  vertical-align: middle;
}
footer a {
  color: #666;
  white-space: nowrap;
  font-size: small;
  padding-left: 8px;
  display: inline-block;
}
.container {
  margin: 0 130px 0 130px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-rows: minmax(auto);
}
h1 {
  margin: 0;
}
.Log {
  color: black;
}
.author a {
  color: black;
}
.content-two {
  grid-row: 3;
  grid-column: 2;
}
.content-three {
  grid-row: 4;
  grid-column: 2;
}
.content-image {
  grid-column: 1 / -1;
  padding: 0 80px 0 80px;
}
.content-footer span {
  font-size: small;
}
.content-one,
.content-two,
.content-three,
.content-four,
.content-five {
  font-size: 18px;
  margin: 20px 0 10px 0;
  padding: 0 20px 0 20px;
}
.content-one {
  grid-row: 1;
  grid-column: 2;
  font-style: italic;
  font-size: large;
  padding: 80px 0 10px 50px;
}
.date-social {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px 10px 0;
}
.more-articles {
  font-size: 16px;
  padding: 20px;
  text-align: center;
}
hr {
  color: lightgrey;
  margin-bottom: 15px;
}
.content-four {
  grid-row: 5;
  grid-column: 2;
}
.content-five {
  grid-row: 7;
  grid-column: 2;
}
.content-image > hr {
  width: 10%;
  margin-left: 0;
  text-align: left;
  color: black;
}
.content-end {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  justify-content: space-between;
}
.content-footer {
  display: block;
  color: grey;
  margin: 5px 200px 50 0;
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div > .content-footer {
  font-size: small;
  color: grey;
  text-align: left;
}
.content-footer-vid {
  font-size: small;
  color: grey;
  text-align: right;
  clear: both;
}
.content-end-button {
  padding: 10px 50px;
  margin-right: 150px;
  margin-top: 20px;
  vertical-align: middle;
}
.content-end-button:hover {
  background-color: #1069ad;
}
.comments-end-icons {
  padding-top: 30px;
}
span.socials {
  text-align: right;
  width: 50%;
}
.inflation-img {
  position: relative;
}
.inflation-img .items {
  position: absolute;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  font-weight: 300;
  color: #000;
}
.itm1 {
  top: 24.8264%;
  left: 0.0436%;
  width: 228px;
}
.itm2 {
  top: 24.8264%;
  left: 25.5619%;
  width: 228px;
}
.itm3 {
  top: 24.8264%;
  left: 51.08%;
  width: 228px;
}
.itm4 {
  top: 24.8264%;
  left: 76.5982%;
  width: 228px;
}
.itm5 {
  top: 73.4375%;
  left: 0.0436%;
  width: 228px;
}
.itm6 {
  top: 73.4375%;
  left: 25.5619%;
  width: 228px;
}
.itm7 {
  top: 73.4375%;
  left: 51.08%;
  width: 228px;
}
.itm8 {
  top: 73.4375%;
  left: 76.5982%;
  width: 228px;
}
.item-title {
  font-weight: bold;
  padding-right: 10px;
}
.bottom-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-gap: 30px;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.left {
  border-top: 1px solid black;
}
.left h2 {
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding: 20px 0;
}
.right h2 {
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding: 20px 0;
}
.galerie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}
.galerie h4 {
  font-size: 16px;
  margin-top: 5px;
  font-family: Helvetica, Arial, sans-serif; 
}
.editor-title {
  grid-column: 1/4;
  border-top: 1px solid black;
}
.fixed-footer span {
  font-weight: bolder;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #000;
}
.date {
  float: none;
  font-size: 12px;
  color: #999;
}
.galerie img {
  width: 100%;
}
.grid1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.right {
  border-top: 1px solid black;
}
.right-title {
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding-top: 20px;
  margin-bottom: 15px;
}
.links {
  text-decoration: none;
  color: rgb(18, 18, 18);
}
.links h2 {
  font-size: 19px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.43rem;
  font-weight: 500;
  padding: 15px 0;
  border-top: 1px solid rgb(226, 226, 226);
}
.links:hover {
  color: #888;
}
.footer-list {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  align-items: flex-start;
  }
  .footer-list a {
    color: black;
  }
  .colon { 
    display: grid;
  }
  .First-line { 
    font-size: 0.8em;
  } 
  .footer-line {
    background-color: white;
    border-bottom: 1px solid #e2e2e2;
    border-top: 2px solid #e2e2e2;
    height: 1px;
    margin: 10px auto;
    width: 1200px;
  }
  .footer-head {
    display: inline-flex;
    margin-left: 50px; 
  }
  .footer-head a {
    float: left;
  }
  .footer-head span {
    padding-left: 900px;
    font-size: 11.5px;
    color: rgb(231, 222, 222);
  }
  .img1 {
    width: 16px;
    height: 14px;
    padding-right: 3px;
  }
  .img2 {
    width: 16px;
    height: 16px;
    padding-right: 5px;
  }
  .img3 {
    width: 18px;
    height: 18px;
    padding-right: 7px;
  }
  .img4 {
    width: 20px;
    height: 20px;
    padding-right: 9px;
  }
  .last-footer {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 20px auto 10px auto;
    border-top: 1px solid #ebebeb;
    padding-top: 10px;
    padding-bottom: 70px;
  }
  .solid-title {
    margin-bottom: 20px;
    display: inline-block;
    text-transform: capitalize;
    font-size: medium;
  }
  .line {
    color: #666;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    padding: 10px 0;
  }
  .fixed-footer p {
    font-family: Helvetica, Arial, sans-serif;
    align-items: center;
  }